body {
    background-color: #ede9e1;
}
h1 {
    color: #31302c;
font-size: 50px;}
h2 {
    color: #31302c;
font-size: 35px;}
h3 {
    color: #31302c;
font-size: 20px;}
p {
    color: #31302c;
font-size: 16px;}
body {
    font-family: "Rubik", sans-serif;
}