<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>

<header>
      <nav>
        <div class="logo">
          <a href="../index.html">
          <img src="../images/clown logo v4.svg" alt="Home button appears as a small cartoon clown head"/></a>
        </div>
        
        <ul class="nav-links">
          <li><a href="../pages/labs.html">Labs</a></li>
          <li><a href="../pages/tech_experiments.html">Experiments</a></li>
          <li><a href="../pages/project_diary.html">Diary</a></li>
          <li><a href="../pages/about.html">About</a></li>
        </ul>
      </nav>
    </header>

</body>
</html>
